/* SCSS eventos */
.contenedor {
    height: auto;
    display: grid;
    padding:40px;
    grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 50vh);
      grid-template-areas: 
      "img1 img2 img4 img5" 
      "img3 img3 img3 img3" 
      "img6 img7 img8 img9" 
      ;
  }
  
  .itemII {
    background-color: blue;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    margin: 2px;
  }
  
  .item1 {
    grid-area: img1;
    background-image: url(../imagenes/flyer-choque.png);
    background-position:top;
  }
  
  .item2 {
    grid-area: img2;
    background-image: url(../imagenes/flyer-cumbia.jpg);
  }
  
  .item3 {
    grid-area: img3;
    background-image: url(../imagenes/portada.jpg);
  }
  
  .item4 {
    grid-area: img4;
    background-image: url(../imagenes/flyer-peña.png);
  }
  
  .item5 {
    grid-area: img5;
    background-image: url(../imagenes/flyer-jarana.jpg);
  }
  
  .item6 {
    grid-area: img6;
    background-image: url(../imagenes/flyer-FSN.png);
  }
  
  .item7 {
    grid-area: img7;
    background-image: url(../imagenes/flyer-NM.jpg);
  }
  
  .item8 {
    grid-area: img8;
    background-image: url(../imagenes/flyer-panaderia.jpg);
  }

  .item9 {
    grid-area: img9;
    background-image: url(../imagenes/flyer-folclore.jpg);
  }
  
  