.imagen1{
    
    background-color: $mainColor;
    background-image: url(../imagenes/camarab&n.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
}